
<div class="about">
  <div class="carousel">
    <carousel [isAnimated]="true">
      <slide>
          <span class="text-slide">
            <p>New Angular</p>
            <h1>Ong vua Dit Trom</h1>
          </span>
        <img
          src="https://cutewallpaper.org/21/fashion-wallpaper-hd/Mens-Fall-Fashion-Wallpapers-High-Quality-Download-Free.jpg"
          alt="first slide" style="display: block; width: 100%; height: 500px;">
      </slide>
      <slide>
        <span class="text-slide">
          <p>New React JS</p>
          <h1>Ong hoang vay nen</h1>
        </span>
        <img
          src="//cdn.shopify.com/s/files/1/0568/7902/2234/files/1_bf43bcd1-5f75-409f-aa0b-d9630da295d1.jpg?v=1635904045&width=580"
          alt="second slide" style="display: block; width: 100%; height: 500px;">
      </slide>
      <slide>
        <span class="text-slide">
          <p>Men's Wear</p>
          <h1>An Dep trai va nhung nguoi ban</h1>
        </span>
        <img
          src="//cdn.shopify.com/s/files/1/0568/7902/2234/files/2_fa3c01db-e351-48f0-a2ea-f4c65cbeee09.jpg?v=1635904051&width=580"
          alt="third slide" style="display: block; width: 100%; height: 500px;">
      </slide>
    </carousel>
  </div>
  <!-- banner -->
  <div class="row">
    <div class="banner">
      <span class="text-banner">
        <p>New Arrivals</p>
        <h3>Women's Sale</h3>
      </span>
      <img src="//cdn.shopify.com/s/files/1/0568/7902/2234/files/1_bf43bcd1-5f75-409f-aa0b-d9630da295d1.jpg?v=1635904045&width=580" alt="">

  </div>
    <div class="banner">
    <span class="text-banner">
      <p>Trending</p>
      <h3>New Sneaker</h3>
    </span>
      <img src="//cdn.shopify.com/s/files/1/0568/7902/2234/files/2_fa3c01db-e351-48f0-a2ea-f4c65cbeee09.jpg?v=1635904051&width=580" alt="">

  </div>
  </div>
  <!-- Sale -->
  <div class="sale">
    <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/Black_Friday_Sale.jpg?v=1642925390&width=1100" alt="Sale Picture">
  </div>
</div>
