<div class="about">
  <div class="carousel">
    <carousel>
      <slide>
        <span class="text-slide">
          <p>New Angular</p>
          <h1>Ong vua Dit Trom</h1>
        </span>
        <img
          src="https://cutewallpaper.org/21/fashion-wallpaper-hd/Mens-Fall-Fashion-Wallpapers-High-Quality-Download-Free.jpg"
          alt="first slide"
          style="display: block; width: 100%; height: 500px"
        />
      </slide>
      <slide>
        <span class="text-slide">
          <p>New React JS</p>
          <h1>Ong hoang vay nen</h1>
        </span>
        <img
          src="//cdn.shopify.com/s/files/1/0568/7902/2234/files/1_bf43bcd1-5f75-409f-aa0b-d9630da295d1.jpg?v=1635904045&width=580"
          alt="second slide"
          style="display: block; width: 100%; height: 500px"
        />
      </slide>
      <slide>
        <span class="text-slide">
          <p>Men's Wear</p>
          <h1>An Dep trai va nhung nguoi ban</h1>
        </span>
        <img
          src="//cdn.shopify.com/s/files/1/0568/7902/2234/files/2_fa3c01db-e351-48f0-a2ea-f4c65cbeee09.jpg?v=1635904051&width=580"
          alt="third slide"
          style="display: block; width: 100%; height: 500px"
        />
      </slide>
    </carousel>
  </div>
  <div class="bunner">
    <div class="banner">
      <span class="text-banner">
        <p>New Arrivals</p>
        <h3>Women's Sale</h3>
      </span>
      <img
        src="//cdn.shopify.com/s/files/1/0568/7902/2234/files/1_bf43bcd1-5f75-409f-aa0b-d9630da295d1.jpg?v=1635904045&width=580"
        alt=""
      />
    </div>
    <div class="banner">
      <span class="text-banner">
        <p>Trending</p>
        <h3>New Sneaker</h3>
      </span>
      <img
        src="//cdn.shopify.com/s/files/1/0568/7902/2234/files/2_fa3c01db-e351-48f0-a2ea-f4c65cbeee09.jpg?v=1635904051&width=580"
        alt=""
      />
    </div>
    <div class="banner">
      <span class="text-banner">
        <p>Trending</p>
        <h3>New Sneaker</h3>
      </span>
      <img
        src="//cdn.shopify.com/s/files/1/0568/7902/2234/files/2_fa3c01db-e351-48f0-a2ea-f4c65cbeee09.jpg?v=1635904051&width=580"
        alt=""
      />
    </div>
  </div>


<span >
  <p id="see"
    routerLink="/home"
    style="cursor: pointer;"><-------See more-------></p>
</span>
  <div class="container">
    <img
      src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/Black_Friday_Sale.jpg?v=1642925390&width=1100"
      alt="Sale Picture"
    />
  </div>
  <div class="container" style="margin-top :20px;">
    <h1>Store Overview</h1>
    <div class="row">
      <div class="col-sm">
        <img class="colma" src="../../../assets/product/product-09.jpg" alt="">
        <span>Giày "Chiến thần thoát ế"</span>
        <p>$75.00</p>

      </div>
      <div class="col-sm">
        <img class="colma" src="../../../assets/product/product-10.jpg" alt="">
        <span>Áo "Mặc vào có người yêu"</span>
        <p>$25.85</p>
      </div>
      <div class="col-sm">
        <img class="colma" src="../../../assets/product/product-11.jpg" alt="">
        <span>Sơ mi "soái ca vạn người mê"</span>
        <p>$63.16</p>
      </div>
      <div class="col-sm">
        <img class="colma" src="../../../assets/product/product-12.jpg" alt="">
        <span>Thắt lưng "buộc bụng"</span>
        <p>$50.95</p>

      </div>
    </div>
  </div>
  <div class="container blog">
    <h1>Our Blog</h1>
    <div class="row">
      <div class="col-sm blog-item">
        <img src="../../../assets/blog/blog-01.jpg" alt="">
        <span>
          <p>By TienTo on Noverber 2022</p>
          <h3>
            8 Inspiring Ways to Wear Dresses in the Winter
          </h3>
          <p class="blog-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, explicabo. Quo molestiae illo nemo tenetur cumque rem sunt magni beatae iure, ratione incidunt, ipsam qui ad commodi minima aut sint.</p>
        </span>
      </div>
      <div class="col-sm blog-item">
        <img src="../../../assets/blog/blog-02.jpg" alt="">
        <span>
          <p>By TienTo on Noverber 2022</p>
          <h3>
            The Great Big List of Men’s Gifts for the Holidays
          </h3>
          <p class="blog-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, explicabo. Quo molestiae illo nemo tenetur cumque rem sunt magni beatae iure, ratione incidunt, ipsam qui ad commodi minima aut sint.</p>
        </span>
      </div>
      <div class="col-sm blog-item">
        <img src="../../../assets/blog/blog-03.jpg" alt="">
        <span>
          <p>By TienTo on Noverber 2022</p>
          <h3 class="blog-title">
            5 Winter-to-Spring Fashion Trends to Try Now
          </h3>
          <p class="blog-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, explicabo. Quo molestiae illo nemo tenetur cumque rem sunt magni beatae iure, ratione incidunt, ipsam qui ad commodi minima aut sint.</p>
        </span>
      </div>
    </div>
  </div>


</div>
