<br /><br /><br /><br /><br /><br />
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<form class="search form-inline" (ngSubmit)="search()">
  <input
    class="form-control mr-sm-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
    [(ngModel)]="categories"
    name="categorys"
  />
  <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="main">
  <!-- <ul class="list-group"> -->

  <div class="home" style="cursor: pointer" *ngFor="let product of prodit">
    <!-- <div>{{ product.category }}</div> -->

    <span>
      <div>
        <a class="picture">
          <img
            class="picture"
            [routerLink]="['/products', product.id]"
            width="200px"
            height="150px"
            src="{{ product.thumbnail }}"
          />
        </a>
      </div>
    </span>
    <div class="name_prooduct">
      <a>
        <div [routerLink]="['/products', product.id]">{{ product.title }}</div>
      </a>
    </div>
  </div>

  <div class="sidebar" style="cursor: pointer">
    <div class="sidebar" style="cursor: pointer">
      <a routerLink="" (click)="cate('s')">Home</a>

      <div class="btn-group" dropdown>
        <button
          id="button-animated"
          dropdownToggle
          type="button"
          class="btn dropdown-toggle"
          aria-controls="dropdown-animated"
        >
          Category <span class="caret"></span>
        </button>
        <ul
          id="dropdown-animated"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-animated"
        >
          <li role="menuitem">
            <a
              class="dropdown-item"
              routerLink=""
              (click)="cate(item)"
              *ngFor="let item of category"
              class="dropdown-item"
              ><p *ngIf="check(item)">{{ item }}</p></a
            >
          </li>
        </ul>
      </div>

      <a [routerLink]="['/contact']">Contact</a>
      <a [routerLink]="['/about']">About</a>

      <div class="nav-item active ml-auto" *ngIf="!authService.isLoggedIn()">
        <a class="nav-link" [routerLink]="['/login']">Login </a>
      </div>
      <div class="nav-item active ml-auto" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" href="" [routerLink]="['/user']">Profile </a>
      </div>
      <div class="nav-item active" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" href="" (click)="authService.logout()">LogOut </a>
      </div>
    </div>
  </div>
</div>
