.home{
    width: 20%;
    margin-left:20px;
    margin-bottom: 30px;
    display: inline-grid;
    text-align: center  ;
    border: none;
    // border: 1px solid black;

}
.sort{
  position: absolute;
  left: 242px;
}
.chu{color: black;
display: inline;}
.search{
 position: relative;
 margin-left: 75%;
 margin-bottom: 20px;
right: 100px;

}
.picture{


  display: block
}
.picture img{
  transition: all .3s ease;
}
.main{
 margin-left: 15%;

}

.picture :hover{
  transform: scale(1.2);

}
.name_prooduct{
  text-transform: uppercase;
  margin: 30px 0px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ffffff;
    position: fixed;
    height: 80%;
    overflow: auto;
    left: 0px;
    top: 8%;


  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    transition: all .3s ease;

  }

  .sidebar a:hover {
    // background-color: rgb(207, 252, 247);
    // color: black;
    color: rgb(255, 152, 83);
    transform: scale(1.2);




  }
  .dropbtn {
    color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    border: none;
    width: 180px;
    text-align: inherit;
    padding-left: 16px;
    background-color: #ffffff;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }


  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 207, 168);
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 180px;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(255, 255, 255);}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #ffcfa8;; color: black;}

  
