.home{
    width: 30%;
    margin: 5px;
    display: inline-block;
    text-align: center  ;

    border: none;
    padding: 0px;
    // border: 1px solid black;


}
.main{
    margin-top: 5%;
    
}

.picture :hover{

  box-shadow: 5px 2px  #bdbdbd;
}
.name_prooduct{
  text-transform: uppercase;
  margin: 30px 0px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    left: 0px;
    height: 100%;
    top: 7%;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .dropbtn {
    background-color: #f1f1f1;
    color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    border: none;
    width: 180px;
    text-align: inherit;
    padding-left: 16px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
   
  }
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 180px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #555; color: white;}

