<div class="main w-200 text-center">
  <div class="home" *ngFor="let product of prodit; let i = index">
    <span>
      <a>
        <div [routerLink]="['/products', product.id]">{{ product.title }}</div>
      </a>
    </span>

    <span>
      <div>
        <img
          [routerLink]="['/products', product.id]"
          width="150px"
          height="120px"
          src="{{ product.thumbnail }}"
          alt=""
        />
        <span>
          <div>{{ i + 1 }}. {{ product.title }}</div>
        </span>
      </div>
    </span>
  </div>
</div>

<div class="sidebar">
  <div class="dropdown">
    <button class="dropbtn">Category</button>
    <div class="dropdown-content">
      <a href="#">Smartphones </a>
      <a href="#">Laptops</a>
      <a href="#">Fragrances</a>
      <a href="#">Skincare</a>
      <a href="#">Home-decoration</a>
      <a href="#">Groceries</a>
    </div>
  </div>

  <a [routerLink]="['/contact']">Contact</a>
  <a href="#about">About</a>
</div>
