<div class="sidebar">
  <div class="dropdown">
    <button class="dropbtn">Category</button>
    <div class="dropdown-content">
      <a
        *ngFor="let item of category"
        class="text-capitalize"
        style="cursor: pointer"
      >
        {{ item }}
      </a>
    </div>
  </div>
  <!-- <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> -->
  <a [routerLink]="['/contact']">Contact</a>
  <a href="#about">About</a>
</div>
