<div class="sidebar">
  <div class="dropdown">
    <button class="dropbtn">Category</button>
    <div class="dropdown-content">
      <a href="#">Smartphones </a>
      <a href="#">Laptops</a>
      <a href="#">Fragrances</a>
      <a href="#">Skincare</a>
      <a href="#">Home-decoration</a>
      <a href="#">Groceries</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <a [routerLink]="['/contact']">Contact</a>
  <a href="#about">About</a>
</div>
