.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: aquamarine;
}



.logo_image{
    width: 100px;
    height: 100px;
    border-radius: 200px;
    opacity: 1;
    height: 110px;
    background-image: url('https://i.pinimg.com/originals/42/84/2b/42842be01831ab689ad89cccbf7bc920.jpg');
    background-size: 100% 110px;
}


