.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(132, 181, 255);
    font-weight: 500;
}
#logo{
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 10px;
}
.nav-item :hover{

}

